<ion-header no-border>
    <ion-navbar color="basecolor">
      <ion-title>request money</ion-title>
    </ion-navbar>
  
  </ion-header>
<ion-content padding >
  <ion-list id="in">
    <form [formGroup]="requestmoneyForm">

      <ion-input [(ngModel)]="ramt" id="amtm" [formControl]="requestmoneyForm.controls['amt']" text-center type="number" value=""
        placeholder="amount"></ion-input>
     
      <ion-label *ngIf="isFieldInvalid('amt')">please enter a valid amount.</ion-label>
      <ion-item style="top:2%;">
        <ion-input [(ngModel)]="mono" [formControl]="requestmoneyForm.controls['udt']" type="number" value="" placeholder="mobile number" (ionChange)='velidator();' style="margin-top: 5%;"></ion-input>
      </ion-item>
      <ion-label right style="color:white;">{{recieverName}}</ion-label>
      <ion-label *ngIf="isFieldInvalid('udt')">please enter a valid mobile number.</ion-label>


<button ion-button full color="light" round class="login" style="color: blue;font-size: 150%; margin-top: 30%; transition:
none;" (click)="requesterbtn();">request</button>

</form>
</ion-list>

</ion-content>


