


<ion-content>
<iframe height="100%" width="100%" [src]="urlpaste" *ngIf="iframeshow"></iframe>
<div *ngIf="!iframeshow" padding>
    <div>
        <div class="hhh">{{headlines}}</div>
          <div class="iii">
            <p>{{Message}}</p>
            <p *ngIf="balflag">Your new balance is {{bal | currency :'&#8377;'}}</p>
          </div>
      </div>
      
      <!-- <button   style="font-size:150%" round outline block style="border-color: #080502;
            color: #030201;
            background-color: transparent;font-size: 150%;
            margin-top: 45%;
            transition: none;" (click)="closealert();">try again</button> -->

<button *ngIf="!btnflag" ion-button full color="light" round class="login" style="color: blue;transition: none;height:50px;font-size: 150%;"
    (click)="closealert();">
    try again</button>

    <button *ngIf="!btnflag" ion-button full color="light" round class="login" style="color: blue;transition: none;height:50px;font-size: 150%;"
        (click)="sucessAlert();">{{btntxt}}</button>

<!-- 
        <button  *ngIf="btnflag" ion-button color="primary" style="font-size:150%" round outline block style="border-color: #080502;
            color: #030201;
            background-color: transparent;font-size: 150%;
            margin-top: 45%;
            transition: none;" (click)="sucessAlert();">Continue</button> -->
</div>
</ion-content>
