<ion-header no-border>
  <ion-navbar color="basecolor">
    <ion-title>send money</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-list id="in">
    <form [formGroup]="sendmoneyForm">

    <ion-input [(ngModel)]="samt" id="amtm" [formControl]="sendmoneyForm.controls['amt']"  text-center type="number" value="" 
    placeholder="amount"></ion-input>
      
    <ion-label *ngIf="isFieldInvalid('amt')">please enter a valid amount.</ion-label>
      <ion-item style="margin-top:4%;">
        <ion-input [(ngModel)]="mono" [formControl]="sendmoneyForm.controls['udt']" type="number" value="" placeholder="mobile number"
          (ionChange)='velidator();' style="color:white;"></ion-input>
      </ion-item>
<ion-label right style="color:white;">{{recieverName}}</ion-label>
      <ion-label *ngIf="isFieldInvalid('udt')">please enter a valid mobile number.</ion-label>
      <button ion-button full color="light" round class="login" style="color: rgb(109, 154, 255);font-size: 150%; margin-top: 30%; transition:
none;" (click)="sendbtn();" [disabled]="!sendmoneyForm.valid">send</button>

    </form>
  </ion-list>
</ion-content>
