page-vaddmoney {
#in {
  .item {
    background-color: rgba(255, 255, 255, 0);
  }
}
.content-md {
  color: #ffa239;
}

#amt {
  font-weight: bold;
  color: #fff;
  border: 3px solid #fff;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  .text-input,
  .text-input-md {
    padding: 1%;
    font-size: 150%;
  }
}

}
