<ion-header no-border>
  <ion-navbar color="basecolor">
    <ion-title class="tittle">
      sign up
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-scroll class="parent" overflow-scroll="true" has-bouncing="false" scroll="false" padding>

  <ion-scroll has-bouncing="true" style="width:100%;height:100%;" scrollY="true" >


  <p class="pp" style="font-size: 2.4rem;text-align: center;margin-top: -10px;">great men always kept
    <br>records of their coin.
    <br>
  </p>
  <form [formGroup]="signupForm">


    <div style="height:100%;width:100%;">
      <ion-item id="login">
        <ion-label floating>login id</ion-label>
        <ion-input name='userg' [formControl]="signupForm.controls['userg']" type="text"></ion-input>
      </ion-item>
      <ion-label *ngIf="isFieldInvalid('userg')" style="padding-left: 4%;">must be 6 alpha-numeric character</ion-label>
      
      <ion-grid>
        <!-- using(https://forum.ionicframework.com/t/two-ion-input-component-in-the-line-ionic-3/87145/7) -->
        <ion-row>
          <ion-col col-4>
            <!-- <ion-item> -->
        <!-- <ion-label floating>...</ion-label> -->
        <ion-select interface="action-sheet" style="background: none;" id="cccode">
          <ion-option *ngFor="let code of posts;let i = index" [selected]="i == 86" style="background: none;">
            <span class='flag-icon flag-icon-{{ cc }}'></span>{{code.dial_code}},{{code.name}}</ion-option>
        </ion-select>
            <!-- </ion-item> -->
          </ion-col>
      
          <ion-col col-8>
            <ion-item class="padding-left-2px">
                <ion-label floating>mobile number</ion-label>
                <ion-input name='monog' [formControl]="signupForm.controls['monog']" type="number"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-label *ngIf="isFieldInvalid('monog')" style="padding-left: 4%;">please enter valid mobile number.</ion-label>
      <ion-item id="login">
        <ion-label floating>password</ion-label>
        <ion-input name='passg' [formControl]="signupForm.controls['passg']" type="password" style="float: right;"></ion-input>
      </ion-item>
      <ion-label *ngIf="isFieldInvalid('passg')" style="padding-left: 4%;">upper-case,numbers & special character</ion-label>
     
      <ion-item id="login">
        <ion-label floating>
          <b>confirm password</b>
        </ion-label>
        <ion-input name='cpassg' [formControl]="signupForm.controls['cpassg']" type="password"></ion-input>
      </ion-item>
      <ion-label *ngIf="isFieldInvalid('cpassg')" style="padding-left: 4%;">password must be matcehd.</ion-label>
      <ion-item id="Rem">
        <ion-label>accept terms & conditions</ion-label>
        <ion-checkbox [(ngModel)]="TC" name='Remember' [formControl]="signupForm.controls['Remember']"></ion-checkbox>
      </ion-item>
      <ion-label *ngIf="isFieldInvalid('Remember')" (ionChange)="datachanged($event)">term & conditions must be accepted.
      </ion-label>
      <br>
<button ion-button block (click)='signup();' [disabled]="!signupForm.valid"  color="light" round id="login" style="color: rgb(109, 154, 255);font-size:200%;">sign up</button>

    </div>
  </form>
  <p style="color:#fff;" class="kl">already signed?
    <a class="underline" (click)='login();'>login</a>
</p>
</ion-scroll>
</ion-content>