page-signup {
  .content-md {
    color: #ffa239;
    .pp {
      -webkit-tap-highlight-color: #fff;
        color: #fff;

    }

  }
.kl{
font-size: 140%;
margin-top: 5%;

}
//  #login,
//  login,button,button-md button-default button-default-md button-round button-round-md button-full button-full-md button-md-light {

//   background-color: rgba(240, 160, 60, 0);
//   -webkit-text-fill-color: wheat;
//   .item-inner {
//     box-shadow: inset 0 -1px 0 0 #030303;
//     border-bottom: 1px solid rgba(240, 160, 60, 0);
//   }
// }

.select-md .select-icon {
  position: relative;
  width: 18px;
  height: 19px;
}

.action-sheet-group{
  width: 20%;

}
ion-select {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-width: 100%;
}

.select-md {
  padding: 43px 0px 0px 0px;
}


.item-select-customizado select {
  position: relative;
  max-width: 100%;
  white-space: pre-line;
  text-align: left;
}

#cccode {
  background: none;
  .popover-content {
    background: none;
  }
}

.text-input::-moz-placeholder {
  color: white;
}

.text-input:-ms-input-placeholder {
  color: white;
}

.text-input::-webkit-input-placeholder {
  text-indent: 0;
  color: white;
}

}

